/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.env.testing
*.rest
.phpunit.result.cache
*.log
*.pid
.env.prod
prod.env

/.docker/data/mariadb/*
/.docker/data/redis/*
/.docker/data/storage/logs/prod-php/*
/.docker/mariadb/docker-entrypoint-initdb.d/*.sql
/storage/*.key

/public/hot
/public/storage

.docker/data/storage/logs/prod-php/php-fpm.access
.docker/data/storage/logs/prod-php/php-fpm.error

storage/logs/php/php-fpm.access
storage/logs/php/php-fpm.error
